

.greetings{
  height: 100vh;
  display: flex;
  scroll-snap-align: start;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lefGreetings{

}



/*.pdsv{
  filter: drop-shadow(0 0 2em #d02c2cab);
}*/