@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: #618366 #c2c2c2bf;
  scroll-snap-type: y var(--tw-scroll-snap-strictness);
  --tw-scroll-snap-strictness: mandatory;
  scroll-padding-top: 2.5rem;
  min-height: 100vh;
  overflow: auto;
}

body {
  font-family: 'Noto Sans', sans-serif;
  color: black;
  transition: all 0.4s ease-in-out;
  background: #ffffff;
}

.blur1 {
  width: 100px;
  filter: blur(80px);
  height: 100px;
  content: '';
  position: fixed;
  background-color: rgb(144, 161, 255);
  z-index: 1;
  border-radius: 50%;
  left: 95px;
  bottom: 311px;
  transition: all 1s ease-in;
  &:hover {
    transform: translate(50px, -50px);
  }
}

.blur2 {
  width: 100px;
  filter: blur(80px);
  height: 100px;
  content: '';
  position: fixed;
  background-color: rgba(215, 41, 31, 0.729);
  z-index: 1;
  border-radius: 50%;
  right: 145px;
  bottom: 611px;
  transition: all 1s ease-in;
  &:hover {
    transform: translate(-30px, 120px);
  }
}

.hover-image-scale {
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
}

.hoverAvatar {
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  display: block;
  &:hover {
    transform: scale(1.1);
    filter: saturate(150%);
    transition: all 0.4s ease-in-out;
  }
}

.visible{
  transition: all 0.2s ease-in;
}

.scaleHover {
  transition: all 0.2s ease-in;
  &:hover {
    scale: 1.1;
    transition: all 0.2s ease-in;
  }
}

.activeRoute{
&::after{
  width: 100% !important;
  height: 2px !important;
  background: #41a066 !important;
  display: block !important;
  transition: all 0.4s ease-in !important;
}
}

.acaa{}

@media(max-width:450px){
  .acaa{
    width: 95%;
  }
}

.darkTheme {
  color: white;
  transition: all 0.4s ease-in-out;
  background: #222;
}

.card {
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  height: 250px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  font-size: 16px;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.swiper-scrollbar{
  background: #333 !important;
  opacity: 1 !important;
}



.swiper-scrollbar-drag{
  background: #618366 !important;
}

.icon {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  max-width: 80px;
  background: linear-gradient(
    90deg,
    #858d9c 0%,
    #422b42 40%,
    rgba(0, 0, 0, 0.28) 60%
  );
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
}

.icon svg {
  fill: white;
}

.card .title {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.card .text {
  width: 80%;
  margin: 0 auto;
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  margin-top: 20px;
  letter-spacing: 2px;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
}

.card:hover {
  height: 270px;
}

.card:hover .text {
  transition: all 0.3s ease;
  opacity: 1;
  max-height: 40px;
}

.card:hover .icon {
  background-position: -120px;
  transition: all 0.3s ease;
}

.card:hover .icon svg path {
  fill: url('#gradientColor');
  transition: all 0.3s ease;
}

.hamburger {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  display: none;
  position: relative;
}



.hamburger svg {
  transition: all 0.4s ease-in-out;
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  transition: all 0.4s ease-in-out;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
  transition: all 0.4s ease-in-out;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
  transition: all 0.4s ease-in-out;
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
  transition: all 0.4s ease-in-out;
}

@media (max-width: 1070px) {
  
  .hamburger {
    display: block;
  }
  .dismida {
    display: none !important;
  }
}


.spin {
  width: 8%;
  height: 24%;
  background: rgb(128, 128, 128);
  position: absolute;
  left: 50%;
  top: 30%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  animation: fade458 1s linear infinite;
}

@keyframes fade458 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}